* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --cor1: #1e1f29;

}

body {
    background-color: var(--cor1);
}


/* Topo do site */

header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.322);
}

.navbar-logo {
    margin-right: auto;
}

.navbar-logo img {
    max-width: 110px;
    margin: 14px 0px 0px 14px;
}

.navbar-principal {
    padding-right: 20px;
}

.btn-nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.btn-nav a {
    color: white;
    padding: 10px;
    transition: .4s ease-in-out;
    text-decoration: none;
}

.btn-nav a:hover {
    background-color: #5b00f9;
    border-radius: 4px 7px;
}

.inicio-banner-site {
    width: 100%;
    height: 100%;
    background-image: url('../images/pexels-sora-shimazaki-5926378.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.inicio-banner-site h1 {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    color: #ffffff;
    padding: 80px 0px 20px 0px;
    background-color: rgba(0, 0, 0, 0.605);
    text-align: center;
}

.btn-curso {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.605);
    height: 100%;
    padding: 30px 0px 200px 0px;
}

.btn-curso a {
    color: white;
    background-color: #5b00f9;
    border-radius: 4px;
    padding: 18px 35px;
    text-decoration: none;
    transition: .4s;
}

.btn-curso a:hover {
    background-color: #4500bb;
}

.descricao-site {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: rgb(182, 182, 182);
    background-color: rgba(0, 0, 0, 0.605);
    padding-bottom: 30px;
}

/* Container Cursos */

main {
    text-align: center;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-cursos {
    display: inline-table;
    width: 200px;
    height: 320px;
    background-color: white;
    margin: 15px;
    border: 1px solid rgb(210, 210, 210);
}

.container-cursos img {
    width: 100%;
}

.nome-curso {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
    padding: 2px 2px 2px 5px;
}

.info-curso {
    font-family: 'Lato', sans-serif;
    color: black;
    padding: 2px 2px 2px 5px;
}

.btn-comprar-curso {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 18px;
}

.btn-comprar-curso a {
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    background-color: #5b00f9;
    border-radius: 5px;
    transition: .3s;
}

.btn-comprar-curso a:hover {
    background-color: #161020;
}

/* Footer do Site */

footer {
    width: 100%;
    height: 100%;
    background-color: #0e0e15;
    margin-top: 60px;
}

footer img {
    width: 100px;
    margin: 20px;
}

.titulo-contato {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 10px;
}

.direito-autoral {
    font-family: 'Montserrat', sans-serif;
    color: #42434d;
    text-align: center;
    padding: 40px 0px 10px 0px;
}

.link-contato-wpp {
    padding: 10px 0px;
}

.link-contato-insta {
    padding: 10px 0px;
}


.meios-de-contato-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link-contato-wpp img {
    width: 40px;
}

.link-contato-insta img {
    width: 34px;
}