* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --cor1: #1e1f29;
    --cor2: #5b00f9;
}

body {
    background-color: white;
}

/* Parte Cursos */

.categoria-curso {
    width: 240px;
}

.titulo-cursos {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin: 10px 0px 10px 20px;
    color: #f7f2ff;
    padding: 10px;
    background-color: #782ff5;
    text-align: center;
    border-radius: 10px;
}