i#burguer {
    display: block;
    padding: 20px;
    color: white;
    text-align: right;
    font-size: 35px;
    cursor: pointer;
}

@media screen and (min-width: 768px) {

    i#burguer {
        display: none;
    }

    header {
        display: flex;
        height: 80px;
    }

    .container-mkt img {
        width: 800px;
    }

    .btn-nav {
        display: block;
    }

    .btn-nav li {
        display: inline-block;
    }

    .btn-nav ul {
        margin-right: 20px;
        text-align: right; 
    }

    .btn-nav a {
        border-radius: 4px 7px;
    }

    .navbar-logo img {
        padding: 0px 0px 0px 14px;
    }
}
